.App {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.App h1,
.App h2,
.App h3 {
  font-family: "Jost", sans-serif;
}

.App button {
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.App button:active {
  transform: scale(0.95) translateY(-3px);
  box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.1);
}

.preloader-box {
  background-color: #1e0e62;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
